<table>
  <thead>
    <tr>
      <th>Translation Key</th>
      <th>Setting</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% translations.each do |key| %>
      <% translation = translation_for_key(@translations, key) %>
      <tr id="<%= key %>">
        <td><%= key %></td>
        <td><%= translation.nil? ? I18n.t(key, locale: @locale) : translation.value %></td>
        <td>
          <% if translation.nil? %>
            <%= link_to "Edit", new_admin_translation_url(@locale, key: key) %>
          <% else %>
            <%= link_to "Edit", edit_admin_translation_url(translation, @locale) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
